<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Salir del sistema</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-list>
        <p class="texto-salida">Esto ha sido todo por hoy?</p>
        <p>Será hasta la próxima, que tengas una excelente jornada !!</p>
    </ion-list>

    <ion-button expand="block" size="small" color="primary" (click)="salirDelSistema()">Salir</ion-button>

    <img src="assets/imgs/auto-003.jpg" class="logo-salir">

    <img src="assets/imgs/logo-kinetik.png" class="logo-kinetik">

</ion-content>