<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-title>Buscar cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

    <ion-item>
        <ion-label position="floating">Puede buscar por número de rut o razón social</ion-label>
        <ion-input type="text" name="codcliente" [(ngModel)]="codcliente" clearInput></ion-input>
    </ion-item>

    <ion-grid>
        <ion-row>
            <ion-col size="4">
                <ion-button expand="block" size="small" (click)="salir()">Salir</ion-button>
            </ion-col>
            <ion-col size="8">
                <ion-button expand="block" size="small" (click)="aBuscarClientes()" >Buscar</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-list>
        <ion-card *ngFor="let cliente of listaClientes" (click)="retornaCliente( cliente )">
            <ion-card-content>

                <ion-grid>

                    <ion-row>
                        <ion-col size="3"></ion-col>
                        <ion-col size="6" *ngIf=" cliente.tiposuc != 'suc' " text-center >
                            <ion-badge color="danger" item-end >Casa Matriz</ion-badge>
                        </ion-col>
                        <ion-col size="6" *ngIf=" cliente.tiposuc == 'suc' " text-center >
                            <ion-badge color="danger" item-end >Sucursal</ion-badge>
                        </ion-col>
                    </ion-row>
                    
                    <ion-row>
                        <ion-col size="3"><p text-right >Rut :</p></ion-col>
                        <ion-col size="6"><p text-left ><b>{{ cliente.rut }}</b></p></ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col size="3"><p text-right >Entidad :</p></ion-col>
                        <ion-col size="6"><p text-left ><b>{{ cliente.codigo }}</b></p></ion-col>
                    </ion-row>
                
                    <ion-row  *ngIf=" cliente.tiposuc == 'suc' " >
                        <ion-col size="3"><p text-right >Sucursal :</p></ion-col>
                        <ion-col size="7"><p text-left ><b>{{ cliente.sucursal }}</b></p></ion-col>
                    </ion-row>
            
                    <ion-row>
                        <ion-col size="3"><p text-right >Razón Soc:</p></ion-col>
                        <ion-col size="9" text-wrap text-left ><p><b>{{ cliente.razonsocial }}</b></p></ion-col>
                    </ion-row>
            
                    <ion-row>
                        <ion-col size="3"><p text-right >Dirección :</p></ion-col>
                        <ion-col size="9" text-wrap text-left ><p><b>{{ cliente.direccion }}</b></p></ion-col>
                    </ion-row>
            
                    <ion-row>
                        <ion-col size="3"><p text-right >Comuna :</p></ion-col>
                        <ion-col size="9" text-nowrap text-left ><p><b>{{ cliente.comuna }}</b></p></ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="3"><p text-right >Ciudad :</p></ion-col>
                        <ion-col size="9" text-nowrap text-left ><p><b>{{ cliente.ciudad }}</b></p></ion-col>
                    </ion-row>
                
                    <ion-row *ngIf=" cliente.vendedor != '   ' ">
                        <ion-col size="3"><p text-right >Vendedor :</p></ion-col>
                        <ion-col size="9" text-wrap text-left ><p><b>({{cliente.vendedor}}) {{ cliente.nombrevendedor }}</b></p></ion-col>
                    </ion-row>
            
                    <ion-row *ngIf=" cliente.vendedor == '   ' ">
                        <ion-col size="3"><p text-right >Vendedor :</p></ion-col>
                        <ion-col size="9" text-wrap text-left ><p><b>(n/a) no asignado</b></p></ion-col>
                    </ion-row>
            
                    <ion-row *ngIf=" cliente.listaprecio != '' ">
                        <ion-col size="3"><p text-right >Lista :</p></ion-col>
                        <ion-col size="9" text-wrap ><p text-left ><b>({{ cliente.listaprecio }}) {{ cliente.nombrelista }}</b></p></ion-col>
                    </ion-row>
            
                    <ion-row *ngIf=" cliente.listaprecio == '' ">
                        <ion-col size="3"><p text-right >Lista :</p></ion-col>
                        <ion-col size="9" text-wrap text-left ><p><b>(n/a) no asignada</b></p></ion-col>
                    </ion-row>
                        
                </ion-grid>
            
            </ion-card-content>
                        
        </ion-card>        
    </ion-list>

</ion-content>

