
<ion-row>                             
    <ion-col text-right size="2.2"> 
      <p>Precio :</p> 
    </ion-col>                  
    <ion-col text-center size="2.5"> 
      <b><p>${{ producto.precio | number:"1.0-0" }}</p></b> 
    </ion-col>  
    <ion-col text-center size="0.5">  
      <p>x</p>  
    </ion-col>  
    <ion-col text-center size="1.3">  
      <b><p>{{ producto.cantidad | number:"1.0-0" }}</p></b>  
    </ion-col>  
    <ion-col text-center size="0.5">  
      <p>=</p>  
    </ion-col>  
    <ion-col text-left size="2.5">  
      <b><p>$ {{ producto.precio * producto.cantidad | number:"1.0-0" }}</p></b>  
    </ion-col>
</ion-row>

