<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="tabinicio">
        <ion-icon name="search"></ion-icon>
        <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabmicarrito">
        <ion-badge *ngIf=" nItemes " color="danger">{{ nItemes }}</ion-badge>
        <ion-icon name="cart"></ion-icon>
        <ion-label>Mi Carrito</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabsalida">
        <ion-icon name="exit"></ion-icon>
        <ion-label>Salir</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
