.imagen-producto {
    margin-top: 10px;
}

.grid-productos {
    margin-top: 1px;

}

ion-card-header {
    border-radius: 10px 10px 00px 00px;
}
  
ion-card-content {
    border-radius: 0px 0px 10px 10px;
}    
