ion-row {
    height: 25px; 
    font-size: 75%;
}

.hr {
    border-bottom: 1px solid #ccc;
    margin: 25px 0 0 10px;
    width: 95%;
}

.botonimpagos, .listaimpagos  {
    margin-top: 25px;
}

.deudas  {
    height: 20px;
    font-size: 75%;
}

.deudacard {
    margin: 10px;
    height: 90px;
}    
