<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-card>
  
      <ion-img src="./assets/imgs/auto-00{{auto_arriba}}.jpg" ></ion-img>
  
      <ion-card-header text-center>
        <H1>Ingrese sus credenciales</H1>
      </ion-card-header>
  
      <ion-card-content>
  
          <ion-list>
              <ion-item>
                  <ion-label position="stacked">Email</ion-label>
                  <ion-input type="text" [(ngModel)]="email" clearInput=true></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label position="stacked">Clave</ion-label>
                  <ion-input type="password" [(ngModel)]="clave" clearInput=true></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label position="stacked">Empresa</ion-label>
                  <ion-select [(ngModel)]='empresa' interface="action-sheet"  placeholder="Seleccione una empresa...">
                      <ion-select-option *ngFor="let emp of empresas" [value]="emp.codigo">{{ emp.razonsocial }}</ion-select-option>
                  </ion-select>
              </ion-item>
              <hr>
              <ion-button fill="clear" expand="full" (click)="doIniciar()" >Ingresar</ion-button>
          </ion-list>
  
      </ion-card-content>
      
    </ion-card>
  
    <div class="imgkinetik">
        <img src="assets/imgs/logo-kinetik.png" >
    </div>
  
  </ion-content>
  