<ion-header no-border>
    <ion-toolbar color="primary">
        <ion-title>
            KTP: Ventas On-line (v1.1 25.12.19)
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-img src="assets/imgs/logo-caltex.png" (click)="doLogin()"></ion-img>
    <ion-img src="assets/imgs/logo-newwalk.png" (click)="doLogin()"></ion-img>
    <ion-img src="assets/imgs/logo-exs.png" (click)="doLogin()"></ion-img>
    <ion-img src="assets/imgs/logo-verazzi.png" (click)="doLogin()"></ion-img>
    <ion-img src="assets/imgs/logo-kinetik.png"> (click)="doLogin()"></ion-img>

</ion-content>