<ion-header no-border>
    <ion-toolbar color="primary">
        <ion-title class="ion-text-center">KTP: Ventas On-line</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <img src="assets/imgs/logo-caltex.png" (click)="doLogin()">
    <img src="assets/imgs/logo-newwalk.png" (click)="doLogin()">
    <img src="assets/imgs/logo-exs.png" (click)="doLogin()">
    <img src="assets/imgs/logo-verazzi.png" (click)="doLogin()">
    <img src="assets/imgs/logo-kinetik.png" (click)="doLogin()" style="margin-top: 15px;">
    <p style="font-size: 60%; text-align: center; font-weight: bold;">v1.2.2 2020-09-30</p>

</ion-content>